:root  {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 75, 43);
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --header-height: 120px;
    --navbar-height:34px;
    --header-sort-bar-height: 46px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* responsive */ 
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__column-2{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left:1px solid #FB9086 ;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50% );

}
/* Amimation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    animation: growth linear 0.1s;
}
/* button style */
.btn{
    /* min-width: 124px; */
    height: 34px;
    text-decoration: none;
    background-color: var(--white-color);
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn--size-s{
    padding: 0 8px;
    height: 32px;
    font-size: 12px;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
/* Selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.15rem 0 rgba(0, 0, 0, 0.1);
}

.select-input__lable{
    font-size: 1.4rem;
}
.select-input:hover .select-input_list{
    display: block  ;
}
.select-input_list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    box-shadow: 0 1px 3.15rem 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.select-input_list::after{
    position: absolute;
    content: "";
    width: 224px;
    height: 10px;
    top: -4px;
    left: 0;
    display: block;
}
.select-input_link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}.select-input_link:hover{
    color: var(--primary-color);
}
/* Pagination */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style: none;
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover {
    background-color: #ef5c3f;
}
.pagination-item__link{
    --height: 30px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    font-weight: 200;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}  